    @model LoginViewModel

    @{
        Layout = "_Layout";
    }
    <form action="/Account/Login" method="post">
        @Html.AntiForgeryToken()

        <div class="form-group">
            <label asp-for="Email"></label>
            <input name="Email" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Password"></label>
            <input name="Password" type="password" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
        @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
        {
            <div class="text-danger">@error.ErrorMessage</div>
        }
    </form>